__pycache__/*
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.csprojAssemblyReference.cache
C#/01-HelloWorld/.vs/01-HelloWorld/v16/.suo
C#/01-HelloWorld/01-HelloWorld.sln
C#/01-HelloWorld/01-HelloWorld/01-HelloWorld.csproj
C#/01-HelloWorld/01-HelloWorld/obj/01-HelloWorld.csproj.nuget.dgspec.json
C#/01-HelloWorld/01-HelloWorld/obj/01-HelloWorld.csproj.nuget.g.props
C#/01-HelloWorld/01-HelloWorld/obj/01-HelloWorld.csproj.nuget.g.targets
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.AssemblyInfo.cs
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.AssemblyInfoInputs.cache
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.assets.cache
C#/01-HelloWorld/01-HelloWorld/obj/project.assets.json
C#/01-HelloWorld/01-HelloWorld/obj/project.nuget.cache
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/apphost.exe
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.pdb
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.genruntimeconfig.cache
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.dll
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.csproj.FileListAbsolute.txt
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.csproj.CoreCompileInputs.cache
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.runtimeconfig.json
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.runtimeconfig.dev.json
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.pdb
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.exe
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.dll
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.deps.json
C#/01-HelloWorld/.vs/01-HelloWorld/DesignTimeBuild/.dtbcache.v2
C#/02-Varibles/.vs/02-Varibles/v16/.suo
C#/02-Varibles/02-Varibles.sln
C#/02-Varibles/02-Varibles/02-Varibles.csproj
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.deps.json
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.dll
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.exe
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.pdb
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.runtimeconfig.dev.json
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.runtimeconfig.json
C#/02-Varibles/02-Varibles/obj/02-Varibles.csproj.nuget.dgspec.json
C#/02-Varibles/02-Varibles/obj/02-Varibles.csproj.nuget.g.props
C#/02-Varibles/02-Varibles/obj/02-Varibles.csproj.nuget.g.targets
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.AssemblyInfo.cs
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.AssemblyInfoInputs.cache
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.assets.cache
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.csproj.CoreCompileInputs.cache
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.csproj.FileListAbsolute.txt
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.dll
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.genruntimeconfig.cache
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.pdb
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/apphost.exe
C#/02-Varibles/02-Varibles/obj/project.assets.json
C#/02-Varibles/02-Varibles/obj/project.nuget.cache
C#/Mathmatics/.vs/Mathmatics/v16/.suo
C#/Mathmatics/Mathmatics.sln
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.deps.json
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.dll
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.exe
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.pdb
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.runtimeconfig.dev.json
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.runtimeconfig.json
*.csproj
C#/Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/apphost.exe
C#/Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/Mathmatics.AssemblyInfo.cs
*.cache
*.cache
*cache
*.txt
*.dll
*.cache
*.pdb
*.json
*.props
*.targets
*.json
*.cache
*.exe
*.sln
*.v2
*suo
*.AssemblyInfo.cs
*.AssemblyAttributes.cs
C#/03-Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/Mathmatics.AssemblyInfo.cs
C#/03-Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/03-Mathmatics/.vs/Mathmatics/v16/.suo
C#/03-Mathmatics/03-Mathmatics/obj/Debug/netcoreapp3.1/Mathmatics.AssemblyInfo.cs
C#/03-Mathmatics/03-Mathmatics/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/04-Loops/04-Loops/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/04-Loops/04-Loops/obj/Debug/netcoreapp3.1/04-Loops.AssemblyInfo.cs
C#/04-Loops/.vs/04-Loops/v16/.suo
C#/04-Statements/04-Statements/obj/Debug/netcoreapp3.1/04-Loops.AssemblyInfo.cs
C#/04-Statements/04-Statements/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/04-Statements/.vs/04-Loops/v16/.suo
C#/04-Statements/04-Statements/obj/Debug/netcoreapp3.1/04-Statements.AssemblyInfo.cs
C#/04-Statments/.vs/04-Statments/v16/.suo
C#/04-Statments/04-Statments/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/04-Statments/04-Statments/obj/Debug/netcoreapp3.1/04-Statments.AssemblyInfo.cs
C#/04-StamentsAndLoops/04-StamentsAndLoops/obj/Debug/netcoreapp3.1/04-StamentsAndLoops.AssemblyInfo.cs
C#/04-StamentsAndLoops/.vs/04-StamentsAndLoops/v16/.suo
C#/04-StamentsAndLoops/04-StamentsAndLoops/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/05-Combination/.vs/05-Combination/v16/.suo
C#/05-Combination/05-Combination/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/05-Combination/05-Combination/obj/Debug/netcoreapp3.1/05-Combination.AssemblyInfo.cs
