__pycache__/*
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.csprojAssemblyReference.cache
C#/01-HelloWorld/.vs/01-HelloWorld/v16/.suo
C#/01-HelloWorld/01-HelloWorld.sln
C#/01-HelloWorld/01-HelloWorld/01-HelloWorld.csproj
C#/01-HelloWorld/01-HelloWorld/obj/01-HelloWorld.csproj.nuget.dgspec.json
C#/01-HelloWorld/01-HelloWorld/obj/01-HelloWorld.csproj.nuget.g.props
C#/01-HelloWorld/01-HelloWorld/obj/01-HelloWorld.csproj.nuget.g.targets
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.AssemblyInfo.cs
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.AssemblyInfoInputs.cache
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.assets.cache
C#/01-HelloWorld/01-HelloWorld/obj/project.assets.json
C#/01-HelloWorld/01-HelloWorld/obj/project.nuget.cache
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/apphost.exe
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.pdb
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.genruntimeconfig.cache
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.dll
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.csproj.FileListAbsolute.txt
C#/01-HelloWorld/01-HelloWorld/obj/Debug/netcoreapp3.1/01-HelloWorld.csproj.CoreCompileInputs.cache
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.runtimeconfig.json
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.runtimeconfig.dev.json
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.pdb
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.exe
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.dll
C#/01-HelloWorld/01-HelloWorld/bin/Debug/netcoreapp3.1/01-HelloWorld.deps.json
C#/01-HelloWorld/.vs/01-HelloWorld/DesignTimeBuild/.dtbcache.v2
C#/02-Varibles/.vs/02-Varibles/v16/.suo
C#/02-Varibles/02-Varibles.sln
C#/02-Varibles/02-Varibles/02-Varibles.csproj
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.deps.json
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.dll
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.exe
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.pdb
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.runtimeconfig.dev.json
C#/02-Varibles/02-Varibles/bin/Debug/netcoreapp3.1/02-Varibles.runtimeconfig.json
C#/02-Varibles/02-Varibles/obj/02-Varibles.csproj.nuget.dgspec.json
C#/02-Varibles/02-Varibles/obj/02-Varibles.csproj.nuget.g.props
C#/02-Varibles/02-Varibles/obj/02-Varibles.csproj.nuget.g.targets
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.AssemblyInfo.cs
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.AssemblyInfoInputs.cache
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.assets.cache
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.csproj.CoreCompileInputs.cache
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.csproj.FileListAbsolute.txt
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.dll
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.genruntimeconfig.cache
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/02-Varibles.pdb
C#/02-Varibles/02-Varibles/obj/Debug/netcoreapp3.1/apphost.exe
C#/02-Varibles/02-Varibles/obj/project.assets.json
C#/02-Varibles/02-Varibles/obj/project.nuget.cache
C#/Mathmatics/.vs/Mathmatics/v16/.suo
C#/Mathmatics/Mathmatics.sln
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.deps.json
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.dll
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.exe
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.pdb
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.runtimeconfig.dev.json
C#/Mathmatics/Mathmatics/bin/Debug/netcoreapp3.1/Mathmatics.runtimeconfig.json
*.csproj
C#/Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/apphost.exe
C#/Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/Mathmatics.AssemblyInfo.cs
*.cache
*.cache
*cache
*.txt
*.dll
*.cache
*.pdb
*.json
*.props
*.targets
*.json
*.cache
*.exe
*.sln
*.v2
*.suo
*.AssemblyInfo.cs
*.AssemblyAttributes.cs
C#/03-Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/Mathmatics.AssemblyInfo.cs
C#/03-Mathmatics/Mathmatics/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/03-Mathmatics/.vs/Mathmatics/v16/.suo
C#/03-Mathmatics/03-Mathmatics/obj/Debug/netcoreapp3.1/Mathmatics.AssemblyInfo.cs
C#/03-Mathmatics/03-Mathmatics/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/04-Loops/04-Loops/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/04-Loops/04-Loops/obj/Debug/netcoreapp3.1/04-Loops.AssemblyInfo.cs
C#/04-Loops/.vs/04-Loops/v16/.suo
C#/04-Statements/04-Statements/obj/Debug/netcoreapp3.1/04-Loops.AssemblyInfo.cs
C#/04-Statements/04-Statements/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/04-Statements/.vs/04-Loops/v16/.suo
C#/04-Statements/04-Statements/obj/Debug/netcoreapp3.1/04-Statements.AssemblyInfo.cs
C#/04-Statments/.vs/04-Statments/v16/.suo
C#/04-Statments/04-Statments/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/04-Statments/04-Statments/obj/Debug/netcoreapp3.1/04-Statments.AssemblyInfo.cs
C#/04-StamentsAndLoops/04-StamentsAndLoops/obj/Debug/netcoreapp3.1/04-StamentsAndLoops.AssemblyInfo.cs
C#/04-StamentsAndLoops/.vs/04-StamentsAndLoops/v16/.suo
C#/04-StamentsAndLoops/04-StamentsAndLoops/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/05-Combination/.vs/05-Combination/v16/.suo
C#/05-Combination/05-Combination/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/05-Combination/05-Combination/obj/Debug/netcoreapp3.1/05-Combination.AssemblyInfo.cs
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*